@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-gray-300;
  }
}

:root {
  --background: #fcfcfd;
  --foreground: #26282c;
  --primary-light: #b7c4d1;
  --primary: #8599aa;
  --primary-dark: #526778
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #28282c;*/
/*    --foreground: #ededed;*/
/*    --primary-light: #282850;*/
/*    --primary: #1b1b37;*/
/*    --primary-dark: #0e0e1e;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
